{% extends 'base.html' %}
{% load encode_tag %}
{% block content %}

<div class="container">
    <div class="col-md-6 col-lg-6">
        <h2><b>Subject:</b> {{ object.subject }}</h2>
        <h3><b>Prioritaet:</b> {{ object.prioritaet.name }}</h3>
        <ul>
            <li>From: <b>{{ object.from_email }}</b></li>
            <li>Comment: <b>{{ object.comment|breaktext }}</b></li>
        </ul>

        {% if ticket.file %}
                <p><a href="{{ ticket.get_attachment }}">Download File</a></p>
            {% else %}
                <p></p>
            {% endif %}

        <form method="post" action="{{ object.get_update_progress_url }}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit progress" class="btn btn-primary">
        </form>
        <br>
        <a href="{% url 'ticket:list' %}" class="btn btn-secondary">Back</a>
    </div>
</div>


{% endblock %}