{% extends 'base.html' %}
{% block content %}

<div class="col-md-12 col-lg-12">
    <h1 style="margin-left:40%">Ticket Manager</h1>
    <div class="float-left">
        <form method="post" action="{% url 'ticket:ticketsearch' request.path %}" style="float:right; display: inline-grid; background-color:white">
            {% csrf_token %}
            <input type="text" name="searchtext", id="searchtext">
            <input type="submit" value="Search/Clear" class="btn btn-dark btn-sm">
        </form>
    </div>
    <a href="{% url 'ticket:create_ticket' %}" class="btn btn-primary" style="float:right">Create Ticket</a>
    {% if done %}
        <a href="{% url 'ticket:list' %}" class="btn btn-success" style="float:right">Show open Tickets</a>
    {% else %}
        <a href="{% url 'ticket:donelist' %}" class="btn btn-success" style="float:right">Show done Tickets</a>
    {% endif %}
    <table class="table table-striped tablesorter my-table" id="demo-table" >
        <thead>
            <tr>
                <td><b>Created At</b></td>
                <td><b>Last change</b></td>
                <td><b>Done until</b></td>
                <td><b>Project</b></td>
                <td><b>Subject</b></td>
                <td><b>From</b></td>
                <td><b>Comment</b></td>
                <td><b>Prioritaet</b></td>
                <td><b>Progress</b></td>
                <td><b>Assigned to</b></td>
                <td><b>View detail</b></td>
                <td><b>Update</b></td>
                <td><b>File</b></td>
                <td><b>O</b></td>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            {% if ticket.done == False %}
                {% if ticket.prioritaet.pk == 1 %}
                    <tr style="background-color:indianred">
                {% elif ticket.prioritaet.pk == 2 %}
                    <tr style="background-color:coral">
                {% elif ticket.prioritaet.pk == 3 %}
                    <tr style="background-color:darkseagreen">
                {% else %}
                    <tr>
                {% endif %}
            {% else %}
                <tr>
            {% endif %}
            <td>{{ ticket.created_at|date:'Y-m-d' }}</td>
            <td>{{ ticket.changed_timestamp|date:'Y-m-d' }}</td>
            <td>{{ ticket.finished_until|date:'Y-m-d' }}</td>
            <td>{{ ticket.project }}</td>
            <td>{{ ticket.subject }}</td>
            <td>{{ ticket.from_email }}</td>
            <td>{{ ticket.comment|truncatechars:30 }}</td>
            <td>{{ ticket.prioritaet }}</td>
            <td>{{ ticket.progress }}</td>
            <td>{{ ticket.assigned_to }}</td>
            <td><a href="{{ ticket.get_detail_url }}">Details</a></td>
            <td><a href="{{ ticket.get_update_comment_url }}">Update</a></td>
            {% if ticket.file %}
                <td><a href="{{ ticket.get_attachment }}">File</a></td>
            {% else %}
                <td></td>
            {% endif %}
            <td><a href="{{ ticket.get_admin_url }}">[X]</a></td>
        </tr>

    {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
{% block script %}
<script>
    // function reload() {
    //         location.reload();
    //     }
    // $(document).ready(setTimeout(reload, 18000));
</script>
<script>
    $(function() {
        var thHeight = $("table#demo-table th:first").height();
        $("table#demo-table th").resizable({
          handles: "e",
          minHeight: thHeight,
          maxHeight: thHeight,
          minWidth: 40,
          resize: function (event, ui) {
            var sizerID = "#" + $(event.target).attr("id") + "-sizer";
            $(sizerID).width(ui.size.width);
          }
        });
    });

</script>
<script>
    $(document).ready(function() {
	    $("#demo-table").tablesorter();

        $('#clear').click(function() {
            $("#demo-table .box-nr").each(function(){
                $(this).parent().show();
            });
        });
    });
</script>
{% endblock %}